[submodule "msdfgen"]
	path = msdfgen
	url = https://github.com/Chlumsky/msdfgen
[submodule "artery-font-format"]
	path = artery-font-format
	url = https://github.com/Chlumsky/artery-font-format
[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype
